 <!-- <div class="login-page animate">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
        	<img src="assets/images/flat-avatar.png" class="user-avatar" />
			<h1> Faiza <small>{{title | async }}</small></h1>
			<form role="form">
				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
					</div>
					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
					</div>
				</div>
				<a class="btn rounded-btn" [routerLink]="['dashboard', 'home']"> Log in </a>
			</form>
		</div>
	</div>
</div>  -->

<div class="home-board-container">
  <h1>{{title | async }}</h1>

  <img/>
  <button class="home-board-button">
      <a routerLink="/sign-up" >Sign Up</a>
  </button>

  <button class="home-board-button">
    <a routerLink="/login" >Login</a>
  </button>
</div>
