<div class="sign-up-container">
  <h1>Sign me up!</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <label>First Name</label>
          <input formControlName="firstName" />
          <label>Last Name</label>
          <input formControlName="lastName" />
          <label>Email</label>
        <input formControlName="email" type="email" />
        <h6>Insert a picture for your Avatar</h6>
        <input formControlName="picture" type="file" class="sign-up-file"/>
        <button type="submit" class="sign-up-button">Save</button>
        <button type="reset" (click)="reset()" class="sign-up-button">
          Reset
        </button>
      </form>
  </div>
