.sign-up-container {
  div.row {
    display: inline-flex;
    width: 100%;

  div.column {
    padding-top: 3rem;
    padding-left: 10rem;
    max-width:60%;
    min-width: 25rem;
    &.sidebar{
      margin-right: 3rem;
      max-width: 30%;
      width: fit-content;
      align-content: center;
      align-self: center;
      text-align: center;
    }
  }
}
  form {
    margin-top: 2rem;
    display: flex;
    align-content: center;
    flex-direction: column;

    >* {
      margin: 0.2rem;
    }

    input[type=text], input[type=email] {
      width: 25rem;
      height: 3rem;
    }


    .sign-up-button {
      &:first-of-type {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
      max-width: 15rem;
      height: 2.5rem;
      width: 15rem;
      color: darkcyan;
      background-color: aliceblue;
      border-radius: 1rem;
      border: 0.1rem solid black;
    }

    .sign-up-file {
      margin-top: 2rem;
    }

    button:disabled {
      background-color: grey;
      color: white;
      cursor: not-allowed;
      &:hover {
        background-color: black;
        color: white;
      }
    }

  }

  .avatar-container {
    display: flex;
    width: fit-content;
    height: fit-content;

  }
}
